# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/gradle.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
src/main/java/com/great/common/
src/main/java/com/great/enums/
src/test/
out/
logPath_IS_UNDEFINED/
