<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.ReconciliationMapper">
  <resultMap id="BaseResultMap" type="com.great.model.Reconciliation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="trans_date" jdbcType="VARCHAR" property="transDate" />
    <result column="trans_type" jdbcType="INTEGER" property="transType" />
    <result column="s3_path" jdbcType="VARCHAR" property="s3Path" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="visit_url" jdbcType="VARCHAR" property="visitUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, trans_date, trans_type, s3_path, valid_day, visit_url, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_reconciliation_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_reconciliation_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.great.model.Reconciliation">
    insert into t_reconciliation_log (id, trans_date, trans_type, 
      s3_path, valid_day, visit_url, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{transDate,jdbcType=VARCHAR}, #{transType,jdbcType=INTEGER}, 
      #{s3Path,jdbcType=VARCHAR}, #{validDay,jdbcType=INTEGER}, #{visitUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.great.model.Reconciliation">
    insert into t_reconciliation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="transDate != null">
        trans_date,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="s3Path != null">
        s3_path,
      </if>
      <if test="validDay != null">
        valid_day,
      </if>
      <if test="visitUrl != null">
        visit_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transDate != null">
        #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=INTEGER},
      </if>
      <if test="s3Path != null">
        #{s3Path,jdbcType=VARCHAR},
      </if>
      <if test="validDay != null">
        #{validDay,jdbcType=INTEGER},
      </if>
      <if test="visitUrl != null">
        #{visitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.great.model.Reconciliation">
    update t_reconciliation_log
    <set>
      <if test="transDate != null">
        trans_date = #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=INTEGER},
      </if>
      <if test="s3Path != null">
        s3_path = #{s3Path,jdbcType=VARCHAR},
      </if>
      <if test="validDay != null">
        valid_day = #{validDay,jdbcType=INTEGER},
      </if>
      <if test="visitUrl != null">
        visit_url = #{visitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.great.model.Reconciliation">
    update t_reconciliation_log
    set trans_date = #{transDate,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=INTEGER},
      s3_path = #{s3Path,jdbcType=VARCHAR},
      valid_day = #{validDay,jdbcType=INTEGER},
      visit_url = #{visitUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.great.model.Reconciliation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="trans_date" jdbcType="VARCHAR" property="transDate" />
    <result column="trans_type" jdbcType="INTEGER" property="transType" />
    <result column="s3_path" jdbcType="VARCHAR" property="s3Path" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="visit_url" jdbcType="VARCHAR" property="visitUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, trans_date, trans_type, s3_path, valid_day, visit_url, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_reconciliation_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_reconciliation_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.great.model.Reconciliation">
    insert into t_reconciliation_log (id, trans_date, trans_type, 
      s3_path, valid_day, visit_url, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{transDate,jdbcType=VARCHAR}, #{transType,jdbcType=INTEGER}, 
      #{s3Path,jdbcType=VARCHAR}, #{validDay,jdbcType=INTEGER}, #{visitUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.great.model.Reconciliation">
    insert into t_reconciliation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="transDate != null">
        trans_date,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="s3Path != null">
        s3_path,
      </if>
      <if test="validDay != null">
        valid_day,
      </if>
      <if test="visitUrl != null">
        visit_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transDate != null">
        #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=INTEGER},
      </if>
      <if test="s3Path != null">
        #{s3Path,jdbcType=VARCHAR},
      </if>
      <if test="validDay != null">
        #{validDay,jdbcType=INTEGER},
      </if>
      <if test="visitUrl != null">
        #{visitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.great.model.Reconciliation">
    update t_reconciliation_log
    <set>
      <if test="transDate != null">
        trans_date = #{transDate,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=INTEGER},
      </if>
      <if test="s3Path != null">
        s3_path = #{s3Path,jdbcType=VARCHAR},
      </if>
      <if test="validDay != null">
        valid_day = #{validDay,jdbcType=INTEGER},
      </if>
      <if test="visitUrl != null">
        visit_url = #{visitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.great.model.Reconciliation">
    update t_reconciliation_log
    set trans_date = #{transDate,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=INTEGER},
      s3_path = #{s3Path,jdbcType=VARCHAR},
      valid_day = #{validDay,jdbcType=INTEGER},
      visit_url = #{visitUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>