<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.great.dao.UssdMenuMapper" >
    <resultMap id="BaseResultMap" type="com.great.model.UssdMenu" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="parent_menu_id" property="parentMenuId" jdbcType="VARCHAR" />
        <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="action" property="action" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, parent_menu_id, menu_id, menu_name, action, title, create_time, update_time
    </sql>
    <select id="selectByMenuId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_uusd_menu
        where menu_id = #{menuId, jdbcType=VARCHAR}
    </select>

    <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_uusd_menu where parent_menu_id = #{menuId, jdbcType=VARCHAR} order by menu_id
    </select>

</mapper>